 nav .nav-wrapper{
	background-color: #ffffff;
	color: black;
}
nav .nav-wrapper a{

	color: black;
}

#map {
		position: relative;

        background-color: white;

}


body{
	background-color: white;
	height: 100%;
  	padding: 0;
  	margin: 0;
}

html{
	height: 100%;
}

#user-registration {
	position: relative;
	margin-top: 2%;
	max-width: 500px;
	height: 500px;
}

#user-registration .card-title{
	text-align: center;
	margin-top: 0%;
	font-size: 2em;
	color: black;
}

#user-registration .card-content{
	position: relative;
	height: 100%;
	width:100%;
}

#user-registration input{
	color: black;
}

#user-registration .card-action{
	margin-top: -15px;
}

#user-registration .btn{
	position: relative;
	margin-left: 30%;
}

#user-registration .row{
	margin-top: -5%;
}

#verifyemail {
	position: relative;
	width: 500px;
	margin-top: 50px;
}

#home-background {
	background: url("<?php echo $this->config->item('base_url'); ?>/files/images/home.jpg");

	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
}

