/*@font-face {
        font-family: "Proxima-Nova";
        src: url(/assets/fonts/proxima-nova.otf);
}

*{

   font-family: 'Proxima-Nova';
}*/

@font-face {
  font-family: 'Texta';
  src: url('../fonts/2D333F_2_0.woff2') format('woff2'),
    url('../fonts/2D333F_2_0.woff') format('woff');
}

body {
	font-family: 'Texta';
}


nav .nav-wrapper{
	background-color: #ffffff;
	color: black;
}
nav .nav-wrapper a{

	color: black;
}

nav ul a{
	font-size: 1.2em;
	font-weight: 500;
}

#map {
		position: relative;

        background-color: white;

}


body{
	background-color: white;
	height: 100%;
  	padding: 0;
  	margin: 0;
}

html{
	height: 100%;
}

#user-registration {
	position: relative;
	margin-top: 2%;
	max-width: 500px;
	height: 500px;
}

#user-registration .card-title{
	text-align: center;
	margin-top: 0%;
	font-size: 2em;
	color: black;
}

#user-registration .card-content{
	position: relative;
	height: 100%;
	width:100%;
}

#user-registration input{
	color: black;
}

#user-registration .card-action{
	margin-top: -15px;
}

#user-registration .btn{
	position: relative;
	margin-left: 30%;
}

#user-registration .row{
	margin-top: -5%;
}

#verifyemail {
	position: relative;
	width: 500px;
	margin-top: 50px;
}

#home-background {
	background: url("<?php echo $this->config->item('base_url'); ?>/files/images/home.jpg");

	background-size: 100% 100%;
	height: 100%;
	background-repeat: no-repeat;
}

