@font-face {
  font-family: 'Texta';
  src: url('../fonts/2D333F_2_0.woff2') format('woff2'),
    url('../fonts/2D333F_2_0.woff') format('woff');
}

body {
    font-family: 'Texta';
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
    border-right: 1px solid #e0e0e0;
    height: 100%;
}

.vertical-menu a {
    background-color: #fffff; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-size: 1.2em;
    font-weight: 600;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #ccc; /* Add a green color to the "active/current" link */
    color: white;
}

#profile {
    margin-top: 20px; 
    height:650px; 
    position: relative;
}

#profile #account-label{
    margin-top: 2px;
}

#profile #label li{
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 27px;
}

#profile #account-label li{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 27px;
}

#profile input{
	margin-bottom: 8px;
}

#user-profile .tabs a{
    font-size: .8em;
}

.tabs .tab a {
	color: #4db6ac;
}

.tabs .tab a:hover, .tabs .tab a.active {
	color: #4db6ac;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
	color: #4db6ac;
}

.tabs .indicator {
    background-color: #4db6ac;
}